/* ----------Common Styles---------- */

*,
*::before,
*::after { box-sizing: border-box; }

body {
  font-family: 'Open Sans', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 0;
  margin: 0;
}

h1, h2 {
  font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button,
.logo,
footer .company-info img {
  cursor: pointer;
}
button,
input,
h3 {
  font-family: 'Open Sans', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main section,
footer {
  padding: 2em;
}

main img {
  width: 100%;
}


/* ----------Header & Footer, .logo, transition---------- */

.logo {
  transition: all .5s ease-in-out;
}
.logo:hover {
  transform: scale(120%);
}


/* ----------Header---------- */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5em;
}
header .logo {
  width: 30%;
}
header .try-free {
  background-color: transparent;
  border: .07rem solid hsl(322, 100%, 66%);
  border-radius: 1.7em;
  color: hsl(322, 100%, 66%);
  font-size: .6rem;
  font-weight: 600;
  padding: .35em 1.7em;
}


/* ----------Main---------- */

/* ----------Main, common styles---------- */
main {
  text-align: center;
}
main .get-started {
  background-color: hsl(322, 100%, 66%);
  border: .1rem solid hsl(322, 100%, 66%);
  border-radius: 3em;
  box-shadow: 0 .4rem .6rem hsla(0, 0%, 0%, 0.161);
  color: hsl(207, 100%, 98%);
  font-weight: 700;
  padding: .8em 3em;
  margin: 2em 0 7em;
}
/* ----------Main, common styles END---------- */

/* ----------Main, .hero---------- */

.hero .hero-heading {
  margin-top: 2em;
}
.hero .hero-text {
  font-size: .9rem;
}

.hero .huddle-stats {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 8em 0 5em;
  text-align: left;
  align-items: center;
  justify-content: center;
  flex-basis: 100%;
}
.hero .huddle-stats div:nth-of-type(2) {
  margin-top: 5em;
}

.hero .huddle-stats div:nth-of-type(1) img {
  width: 2em;
}
.hero .huddle-stats div:nth-of-type(2) img {
  width: 1.5em;
}

.hero .huddle-stats h3 {
  font-size: 4rem;
}
.hero .huddle-stats p {
  color: hsla(192, 100%, 9%, 0.5);
  text-align: center;
}
.hero .huddle-stats h3,
.hero .huddle-stats p {
  margin: 0;
}


/* ----------Main, .grow---------- */

.grow {
  background: url(images/bg-section-bottom-mobile-1.svg) no-repeat;
  background-position: center;
  background-size: cover;
}


/* ----------Main, .users---------- */

.users {
  background: url(images/bg-section-top-mobile-2.svg) no-repeat;
  background-position: center;
  background-size: cover;
}


/* ----------Main, .cta---------- */

.cta {
  padding-bottom: 13em;
}


/* ----------Footer---------- */

footer {
  background: hsl(192, 100%, 9%);
  color: hsl(207, 100%, 98%);
  position: relative;
}
.ft-bg-img-top div {
  height: 0;
}
.ft-bg-img-top {
  position: absolute;
  top: -3em;
  left: 0;
  right: 0;
}
.ft-bg-img-top img {
  width: 100%;
}

footer .logo {
  filter: brightness(0) saturate(100%) invert(100%) sepia(38%)
    saturate(3395%) hue-rotate(179deg) brightness(103%) contrast(114%);
  width: 60%;
}

.newsletter,
.contact-huddle {
  font-size: .8rem;
  font-weight: 600;
  line-height: 1.7em;
}

.newsletter {
  padding-top: 2em;
}
.newsletter .newsletter-cta {
  display: flex;
  flex-direction: column;
}
.newsletter .subscribe {
  background: hsl(322, 100%, 66%);
  color: hsl(207, 100%, 98%);
  align-self: flex-end;
  justify-content: center;
  font-size: .9rem;
  font-weight: 700;
  padding: .9em 2.7em;
}
.newsletter input {
  padding: 1em 1em;
}
.newsletter .subscribe,
.newsletter input {
  border: none;
  border-radius: .3em;
  margin-top: 1em;
  outline: none;
}

.contact-huddle {
  padding-top: 8em;
}
.company-info {
  padding-top: 1.5em;
}
.company-info div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}
.company-info p {
  font-size: .8rem;
  font-weight: 400;
  margin: .7em;
}

a .fa-brands {
  color: hsl(207, 100%, 98%);
  font-size: 1.7rem;
  margin-right: .5em;
  padding-top: 1.2em;
}
footer a {
  color: transparent;
}

.attribution {
  font-size: .5rem;
  text-align: left;
}
.attribution a {
  color: hsl(322, 100%, 66%);
}